<ion-content [fullscreen]="true">
  <ion-grid *ngIf="akun; else loading">
    <ion-row>
      <ion-col size="12" size-md="3">
        <div class="sidebar">
          <div class="profile">
            <img
              [src]="akun.accountFotoProfil.startsWith('http') ? akun.accountFotoProfil : 'https://ubaya.cloud/hybrid/160423183/img/' + akun.accountFotoProfil"
              alt="{{ akun.accountNama }}"
              (error)="akun.accountFotoProfil = 'https://ionicframework.com/docs/img/demos/thumbnail.svg'"
            />
            <h3>{{ akun.accountNama }}</h3>
          </div>

          <ion-list lines="full" class="sidebar-list">
            <ion-item
              button
              (click)="logout()"
              expand="block"
              color="success"
              type="submit"
              style="flex: 1"
            >
              <ion-label>Logout</ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ion-col>

      <ion-col size="12" size-md="9">
        <div class="form-container">
          <h2>Personal Information</h2>

          <form (ngSubmit)="saveChanges()">
            <ion-radio-group [(ngModel)]="akun.accountGender" name="gender">
              <ion-item lines="none">
                <ion-radio slot="start" value="pria">Pria</ion-radio>
              </ion-item>
              <ion-item lines="none">
                <ion-radio slot="start" value="wanita">Wanita</ion-radio>
              </ion-item>
            </ion-radio-group>

            <ion-item>
              <ion-input
                label="Full Name"
                label-placement="stacked"
                [(ngModel)]="akun.accountNama"
                name="fullName"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="Address"
                label-placement="stacked"
                [(ngModel)]="akun.accountAlamat"
                name="address"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="Date of Birth"
                label-placement="stacked"
                type="date"
                [(ngModel)]="akun.accountTanggalLahir"
                name="dob"
              ></ion-input>
            </ion-item>

            <h2 style="margin-top: 20px">Login & Password</h2>
            <ion-item>
              <ion-input
                label="New Email"
                label-placement="stacked"
                type="text"
                [(ngModel)]="akun.accountEmail"
                name="newEmail"
                placeholder="Isi untuk mengganti email"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-input
                label="New Password"
                label-placement="stacked"
                type="password"
                [(ngModel)]="akun.accountPass"
                name="newPassword"
                placeholder="Isi untuk mengganti password"
              ></ion-input>
            </ion-item>

            <div
              class="action-buttons"
              style="display: flex; gap: 10px; margin-top: 20px"
            >
              <ion-button
                fill="outline"
                color="danger"
                type="button"
                (click)="discardChanges()"
                style="flex: 1"
              >
                Discard Changes
              </ion-button>
              <ion-button
                expand="block"
                color="warning"
                type="submit"
                style="flex: 1"
              >
                Save Changes
              </ion-button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ng-template #loading>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      "
    >
      <ion-spinner></ion-spinner>
    </div>
  </ng-template>
</ion-content>
